 @import '../../assets/css/config';
.side-left{
  width: 60%;
  height: 100%;
  background-color: rgba(84, 107, 131, .4);
  background-image: linear-gradient(140deg, rgba(84, 107, 131, .4), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.5s ease-out 0s;
  .top{
    width: 100%;
    height: 30%;
    background: #316baa;
    position: relative;
    .user-info{
      @include center;
      .avatar{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        border: 2px solid #828fa2;
        &.no-avatar{
          background: #828fa2;
          border: 2px solid #fff;
        }
      }
      p{
        color: #0d1a26;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  .nav {
    li {
      width: 100%;
      display: block;
      border-bottom: 1px solid #0d1a26;
      &:last-child{
        border: none;
      }
      a {
        display: block;
        font-size: 16px;
        line-height: 60px;
        background: rgba(149,175,200,.5);
        text-align: center;
        color: #25273c;
        i{
          margin-right: 10px;
        }
      }
    }
  }

}
