@import '../../assets/css/config';
.row-wrap{
  &:last-child{
    .list{
      margin-bottom: 0;
    }
  }
}
.list {
  padding: 10px 10px;
  width: 100%;
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  background: #fff;
  .list-left {
    img {
      display: block;
      width: 40px;
      height: auto;
      border-radius: 4px;
    }
  }
  .list-right{
    font-size: 12px;
    color: $normal-text-color;
    p{
      margin-bottom: 0;
    }
    .list-til{
      font-size: 14px;
      color: $emphase-text-color;
      line-height: 1.5;
      max-height: 42px;
      overflow: hidden;
    }
  }
}
