@import '../../assets/css/config';
.reply-list{
  .row-wrap{
    border-bottom: 1px solid $border-color;
    padding-bottom: 6px;
    padding: 6px 10px;
    &:last-child{
      .list{
        margin-bottom: 0;
      }
    }
    .list-a {
      padding: 4px 0px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      background: #fff;
      .list-left {
        img {
          display: block;
          width: 40px;
          height: auto;
          border-radius: 4px;
        }
      }
      .list-right {
        font-size: 12px;
        color: $normal-text-color;
        p {
          margin-bottom: 0;
        }
        .list-user{
          color: $emphase-text-color;
        }
        .list-time {
          color: $normal-text-color;
        }
      }
    }
    .reply-detail{
      p {
        margin-bottom: 0;
        color: $emphase-text-color;
      }
    }
  }
}
