$bg-color: #f0eff5;

$emphase-color:#1890ff;
$base-bgcolor: #25273c;


$normal-text-color:rgba(0, 0, 0, 0.65);
$emphase-text-color:#0d1a26;


@mixin wrap {
  width: 100%;
  max-width: 768px;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin fixed_top{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
}
//---------------------------------
// color
$base-color: #25273c;         //字体默认颜色
$border-color: #ebedf0;
// fixed top height

$fixed-top-h: 40px;

