@import '../../assets/css/config';
.topic-list{
  width: 100%;
  overflow-y: auto;
  .list {
    padding: 5px 10px 5px;
    width: 100%;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    .list-left {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        margin-right: 10px;
        img {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 4px;
        }
      }
    }
    .list-type {
      display: inline-block;
      background-color: #e5e5e5;
      color: $normal-text-color;
      padding: 2px 4px;
      border-radius: 3px;
      font-size: 12px;
      margin-right: 10px;
      &.emphase{
        background: #00bcd4;
        color: #fff;
      }
    }
    .list-til {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
      cursor: pointer;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $emphase-text-color;
        margin-bottom: 0;
        line-height: 20px;
      }
      span{
        color: $normal-text-color;
        display: block;
        font-size: 13px;
      }
    }
    .list-time {
      padding-top: 20px;
      text-align: right;
      font-size: 13px;
      color: $normal-text-color;
    }
  }
  .add-load{
    text-align: center;
    height: 40px;
    display: none;
    &.active{
      display: block;
    }
  }
}


