.topic{
  width: 100%;
  max-height: 768px;
  .content{
    background: #fff;
    width: 100%;
    max-width: 768px;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: all 0.5s ease-out 0s;
  }
}
