/*
 * @Author: funlee
 * @Email: i@funlee.cn
 * @Date: 2018-03-19 09:55:53
 * @Description: CSS3 loading animate
 */
.loading {
  transition: opacity .25s linear;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #12d0a1;
  .loader {
    box-sizing: border-box;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ball-clip-rotate-pulse {
      position: relative;
      transform: translateY(-15px);
      &>div{
        animation-fill-mode: both;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        &:first-child{
          background: #fff;
          height: 16px;
          width: 16px;
          top: 7px;
          left: 7px;
          animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
          border-radius: 100%;
        }
        &:last-child{
          position: absolute;
          border: 2px solid #fff;
          width: 30px;
          height: 30px;
          background: transparent;
          border: 2px solid;
          border-color: #fff transparent #fff transparent;
          animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
          animation-duration: 1s;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

