@import '../../assets/css/config';
.user{
  @include wrap;
  background-color: #fff;
  position: relative;
  .go-back{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    z-index: 99;
  }
  .user-info{
    width: 100%;
    height: 140px;
    position: relative;
    div{
      @include center;
      margin-top: 20px;
      img {
        display: block;
        width: 50px;
        height: auto;
        margin: 0 auto;
        border-radius: 6px
      }
      p{
        text-align: center;
        color:$normal-text-color;
        font-size: 12px;
        margin-top: -8px;
      }
      .user-name{
        margin-top: 4px;
        color: $emphase-text-color;
        font-weight: bold
      }
    }
  }
  .tab-sel{
    text-align: center;
    border-bottom: 1px solid $border-color;
    span{
      cursor: pointer;
      display: inline-block;
      padding: 8px 10px;
      color: $normal-text-color;
      &.active{
        border-bottom: 2px solid $emphase-color;
        color: $emphase-text-color;
      }
    }
  }
  .hidden{
    display: none;
  }
}
