@import './assets/css/config';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, sans-serif;
  background: $bg-color;
  color: $base-color;
}
#root {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 768px;
  height: 100%;
  background: #fff;
}
.markdown-text{
  color: #000;
  word-wrap: break-word;
  pre.prettyprint {
    font-size: 14px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
    margin: 20px -10px;
    border-width: 1px 0;
    background: #f7f7f7;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4
  }
  ul{
    padding: 0;
    margin: 0 0 10px 25px;
    li{
      line-height: 2em;
    }
  }
  a{
    color: #778087;
  }
}
