.login{
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  .logo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    .logo-img{
      display: block;
      width: 60px;
      height: 60px;
      background: skyblue;
      border-radius: 4px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      font-size: 30px;
    }
  }
  .login-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    input{
      margin-bottom: 30px;
    }
  }
  .foot{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
