.nav{
  width: 100%;
  background-color: rgb(0, 188, 212);
  white-space: nowrap;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  li{
    display: inline-block;
    width: 20%;
    a{
      color: #fff;
      display: block;
      line-height: 48px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      &:after{
        content: "";
        display: block;
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: all 0.5s ease-out 0.5s;
      }
      &:hover,
      &.active {
        &:after{
          width: 100%;
          left: 0;
          background: #FF4081;
        }
      }
    }
  }
}
