@import '../../assets/css/config';
.banner{
  width: 100%;
  background: #f7f7f7;
  padding: 0 10px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  color: $base-color;
  .title{
    line-height: $fixed-top-h;
    text-align: center;
    margin: 0;
  }
  .btn-left{
    display: block;
    cursor: pointer;
    font-size: 20px;
  }
  .btn-right{
    display: block;
    cursor: pointer;
    font-weight: 1000;
    font-size: 28px;
  }
}
